@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact System</h1>
    <p>This is a system developed in ASP.NET Core MVC for personal study by 
       <a href="https://github.com/dev-albertojunior">Alberto Júnior</a>. 
       In this project it was used the SLQServer database and the main goal is
       to develop a system for saving contacts.
    </p>
</div>
