@{
    ViewData["Title"] = "CreateContact";
}

<div class="text-center">

    <h1 class="display-4">Create Contact</h1>
</div>

    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" placeholder="Insert Contact Name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Insert Contact Email Adress">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" placeholder="Insert Phone Number">
        </div>

        <div class="d-grid gap-2">
        <button class="btn btn-primary btn">Add Contact</button>
        <a role="button" class="btn btn-secondary" asp-controller="Contact" asp-action="Index">Go Back</a>
        </div>
    </form>

